#app {
  height: 100vh;
  overflow: auto;
}

header {
  height: 70px;
}

header img {
  height: 100%;
}

header h1,
h2 {
  color: #3a9ceb;
}

main {
  height: calc(100% - 70px);
}

.tasks .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.task {
  width: calc(100% / 4 - 20px);
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px 5px;
  margin-bottom: 1rem;
  font-size: 20px;
}

.task div {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.fa-circle-plus:hover {
  cursor: pointer;
  opacity: 0.7;
}

.done {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.fa-trash-can:hover {
  opacity: 0.7;
}
